<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>
    <connectionStrings>
        <add name="DBConnString" providerName="System.Data.SqlClient" connectionString="SERVER=WINSQLENTDT1\EPEDT001;Initial Catalog=EPEFrameworkDemo;User Id=EPEDemoWebUser;Password=EPE.Demo-WebUser2014;Pooling=true;Min Pool Size=3;Max Pool Size=10"/>
    </connectionStrings>
    <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="System" logWarningsWhenNoCategoriesMatch="true">
        <listeners>
            <add fileName="D:\\Temp\\Logs\\BSFrameworkService.txt" header="" footer="" formatter="CSV Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Trace File Trace Listener" />
        </listeners>
        <formatters>
            <add template="{timestamp(MM/dd/yyyy HH:mm:ss.fff)},&quot;{category}&quot;,&quot;{priority}&quot;,&quot;{message}&quot;,{eventid},&quot;{severity}&quot;,&quot;{title}&quot;,{machine},&quot;{dictionary({value})}&quot;" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CSV Formatter" />
        </formatters>
        <categorySources>
            <add switchValue="All" name="All Events">
                <listeners>
                    <add name="Trace File Trace Listener" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events">
                <listeners>
                    <add name="Trace File Trace Listener" />
                </listeners>
            </allEvents>
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Trace File Trace Listener" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <appSettings>
        <add key="IPageInfoDAO" value="EPE.Common.Dao.Sql.PageSqlDAO, EPEFramework"/>
    </appSettings>    
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
